body{
    padding-left: 0;
    margin-left: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    padding: 0px;
    margin: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mitte{
    display: flex;
    justify-content: center;    /*hozizontal*/
    align-items: center;
}
#Uebersicht{
    margin-bottom: 10px;
    padding-left: 0;
    margin-left: 30px;
}
nav ul{
    list-style: none;
    width: 250px;
    height: 300px;
    margin: 0;
    padding: 0;
    overflow: auto;
}
nav ul ul{
    list-style: none;
    width: 250px;
    height: 80px;
    margin: 0;
    padding: 0;
    overflow: auto;
}
