body{
    padding-left: 0;
    margin-left: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(38, 89, 106);
}
header{
    padding: 0px;
    margin: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul{
    list-style: none;
    width: 250px;
    height: 300px;
    margin: 0;
    padding-left: 30px;
    overflow: auto;
}